/*
  white: #FFFFFF
  soft blue(accent 1): #6699CC
  brown(accent 2): #9A6D4C
*/

h1, h2, h3 {
  color: #6699CC;
}

h1 {
  text-align: center;
}

th, td {
  border: solid 6px;
  border-color:#9A6D4C;
  border-style: inset;
  padding: 4px 12px 4px 12px;
}

table{
  border-collapse: collapse;
}

a{
  color: #6699CC;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color:#9A6D4C ;
}

p.cool{
  background-color: #6699CC; 
  color: #FFFFFF;
  width: 80%;
  padding: 20px;
  border: 4px outset #9A6D4C; 
  margin: 20px;
}

div.container{
  background-color: #6699CC; 
  width: 646px;
  padding: 20px;
  border: 6px ridge #9A6D4C; 
  margin: 20px ;
}

body {
  padding: 20px 40px 20px 40px;
  font-size: 16px;
}