/* Colombian colors:
    dark yellow: #E6C200
    blue: #0033A0
    red: #CE1126
*/

body {
    background-color: #FFFFFF; 
    padding: 18px 28px 10px 24px;
    color: #E6C200; 
}

a {
    color: #0033A0; 
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #E6C200; 
}

h1, h2, h3 {
    color: #CE1126; 
}

h1 {
    text-align: center;
}

p.cool {
    text-align: center;
   
}

p, li, th, td {
    font-size: 18px;
}

th, td {
    border: 3px inset #E6C200; 
    padding: 6px 12px 8px 16px;
    background-color: #0033A0; 
    color: #FFFFFF; 
}

table {
    border-collapse: collapse; 
    margin-left: auto;
    margin-right: auto;
    border: 4px outset #CE1126; 
}

